{% layout 'layout.liquid' %}
{% block content %}
  <h1 class="display-4">Welcome To Our Bakery App</h1>
  <h2>A place to comment on our breads and cakes</h2>
  <div class="btn-group btn-group-lg">
    <a href="/users/signup" class="btn btn-success">Sign Up</a>
    <a href="/users/login" class="btn btn-primary">Login</a>
  </div>
{% endblock %}
