{% layout 'layout.liquid' %}
{% block content %}
  <h1 class="display-4">Welcome To Our Bakery App</h1>
  <h2>A place to comment on our breads and cakes</h2>
  <div class="btn-group btn-group-md">
    <a href="/user/signup" class="btn btn-outline-secondary">Sign Up</a>
    <a href="/user/login" class="btn btn-outline-info">Login</a>
  </div>
  <br>
  <div class="btn-group btn-group-lg">
    <a href="/breads" class="btn btn-warning">View All Breads</a>
    <a href="/cakes" class="btn btn-primary">View All Cakes</a>
  </div>
{% endblock %}
