body {
    background-color: rgb(194, 194, 249);
}


h2 {
    color: white;
}

.card {
    margin: 5px;
    box-shadow: 5px 5px 5px rgb(0,0,0,.5);
    background-color: white;
}

.btn-group-lg {
    margin: auto;
    width: max-content;
    display: flex;
    justify-content: center;
}

.btn {
    box-shadow: 2px 2px 2px rgb(0,0,0,.5);
}

