{% layout "layout.liquid" %}
{% block content %}
  <div>
    <h2 class="display-6">All Breads</h2>
    <div class="row">
      {% for bread in breads %}
        <div class="card" style="width: 18rem">
          <h5 class="card-header">{{ bread.name }}
          </h5>
          <div class="card-body">
            <h5 class="card-title">${{bread.price}}
            </h5>
            <a class="btn btn-info" href="/breads/{{bread.name}}">
              View {{bread.name}}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}