{% layout "layout.liquid" %}
{% block content %}
  <div class="container-sm">
    <form action="/breads" method="POST">
      <fieldset>
        <legend>Create New Bread</legend>
        <label class="form-label">Name:</label>
        <input class="form-control mb-4" type="text" name="name" placeholder="name of the bread" required>
        <label class="form-label">Price:</label>
        <input class="form-control mb-4" type="number" name="price" min="1" max="200" required>
        <label class="form-label">Special Ingredients:</label>
        <input class="form-control mb-4" type="text" name="specialIngredients" placeholder="special ingredients" required>
        <label class="form-label">Is the bread Vegan?:</label>
        <input class="form-check-input mb-4" type="checkbox" name="isVegan">
        <label class="form-label">Is the bread Yeasted?:</label>
        <input class="form-check-input mb-4" type="checkbox" name="isYeasted">
      </fieldset>
      <input class="btn btn-success" type="submit" value="Create Bread">
    </form>
  </div>

{% endblock %}}}